@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.software-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.software-page-body {
    display: flex;
    flex-direction: row;
}

.software-page-body-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
    height: 80vh;
    background-color: #f2535a;
    border-radius: 25px;
    padding: 10px;
    gap: 10px;
}

.area-title {
    width: 200px;
    margin: 0 20px;
}

.area-contents {
    width: 600px;
    background-color: white;
    color:#f2535a;
    padding: 0 10px;
    border-radius: 15px;
}

.software-page-container h3 {
    font-size: 0.9rem;
}

.software-page-container p {
    font-size: 0.7rem;
}

.area {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.gif-style {
    width: 130px;
    height: auto;
    border-radius: 10px;
}

.repo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.repos {
    display: flex;
    flex-direction: column;
}

.repos a {
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
}

.home-logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
}

.home-logo img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.home-logo img:hover {
    transform: scale(1.1);
}

